[submodule "pack/bundle/start/ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/bundle/start/vim-signature"]
	path = pack/bundle/start/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "pack/bundle/opt/agrep"]
	path = pack/bundle/opt/agrep
	url = https://github.com/ramele/agrep
[submodule "pack/bundle/start/iosvkem"]
	path = pack/bundle/start/iosvkem
	url = https://github.com/neutaaaaan/iosvkem
[submodule "pack/bundle/start/jellybeans"]
	path = pack/bundle/start/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/bundle/start/vim-colors-solarized"]
	path = pack/bundle/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
