[submodule "pack/bundle/start/ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/bundle/start/vim-signature"]
	path = pack/bundle/opt/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "pack/bundle/opt/agrep"]
	path = pack/bundle/opt/agrep
	url = https://github.com/ramele/agrep
[submodule "pack/bundle/start/iosvkem"]
	path = pack/bundle/start/iosvkem
	url = https://github.com/neutaaaaan/iosvkem
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "easygrep"]
	path = pack/bundle/start/easygrep
	url = https://github.com/dkprice/vim-easygrep
[submodule "pack/bundle/start/vim-grepper"]
	path = pack/bundle/opt/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "pack/bundle/start/vim-vividchalk"]
	path = pack/bundle/start/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/minibufexpl"]
	path = pack/bundle/opt/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "pack/bundle/start/vim-buffergator"]
	path = pack/bundle/opt/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "pack/bundle/start/tagbar"]
	path = pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "inkpot"]
	path = pack/bundle/start/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "palenight"]
	path = pack/bundle/start/palenight
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "vim-buftabline"]
	path = pack/bundle/opt/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "pack/bundle/opt/awesome-vim-colorschemes"]
	path = pack/bundle/opt/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
